<h1>Address Book</h1>
<p>Welcome to the Address Book Page!</p>

<div class="content" role="main">
  <input
    type="text"
    [(ngModel)]="searchString"
    placeholder="Search by name..."
  />

  <a routerLink="/create-address">Create New Address</a>

  <p *ngIf="loading">Loading...</p>
  <div class="scrollable-area">
    <app-address-item
      *ngFor="let address of addressService.addresses | filterAddress : searchString"
      [address]="address"
      (delete)="handleDelete($event)">
    >
    </app-address-item>
  </div>

  <app-rocket-smoke></app-rocket-smoke>
  <app-cloud></app-cloud>
</div>
